@{
    // El título de la página que se mostrará en el layout
    ViewData["Title"] = "Pago Cancelado";
}

<!-- Título principal de la página -->
<h2>Pago Cancelado</h2>

<!-- El mensaje informativo para el usuario despues de cancelar el pago -->
<p>Tu pago ha sido cancelado. Puedes intentar nuevamente.</p>