@{
    // El título de la página que se mostrará en la pestaña del navegador
    ViewData["Title"] = "Pago Exitoso";
}

<!-- Encabezado principal que indica que el pago fue exitoso -->
<h2>Pago Exitoso</h2>

<!-- El mensaje de confirmación mostrado al usuario que el pago fue exitoso -->
<p>¡Gracias por tu pago! Tu transacción ha sido completada con éxito.</p>